#right {
  flex-direction: row-reverse;
}
#right a {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.addProductButton {
  margin: 2rem;
  padding: 2rem;
  background-color: beige;
  border: solid black 0.5rem;
  border-radius: 2rem;
  transition: 0.3s;
  font-size: 2rem;
}

.addProductButton:hover {
  border-radius: 6rem;
  transition: 0.5s ease;
  background-color: rgb(245, 245, 100);
}

#edit-delete-buttons {
  display: flex;
  justify-content: space-evenly;
}

#edit-delete-buttons {
  font-size: 3rem;
  width: 80%;
}
/* Listings */

.section-products {
  padding: 2rem;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.product-info a {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: all 300ms linear;
}

.product-info a:hover {
  color: var(--green);
}
/* Hover Icons*/
.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-items .icons * {
  background-color: var(--white);
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}

.product-items:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.product-items .icons li:not(:last-child) {
  margin-right: 0.5rem;
}
.product-items .icons li:hover {
  background-color: var(--green);
  color: white;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
  width: 100%;
}

.product-items .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}
