.main {
  padding: 3% 15%;
  display: flex;
  justify-content: space-between;
}

.Panel {
  width: 25%;
  height: 50rem;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1rem solid black;
  border-radius: 0.3rem;
  transition: 0.5s;
}

.Panel:hover {
  border-radius: 6rem;
  transition: 0.5s;
}

.bx {
  font-size: 25rem;
}

.Panel a {
  font-size: 6rem;
}
