/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,100&display=swap");

/* Basic reset*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #222;
  --green: #6cbe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/*Animation*/
.animation {
  display: inline-block;
  position: relative;
}

.animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.top-nav {
  background-image: url("./images/instagram-background.jpg");
  background-size: 100% 50rem;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.top-nav ul {
  display: flex;
  align-items: center;
  width: 35rem;
  justify-content: space-between;
  padding: 0 5rem;
}

.nav-center {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
  border-bottom: 0.2rem dashed black;
}

.nav-center > * {
  display: flex;
  width: 35rem;
  align-items: center;
}

#center {
  font-size: 2.4rem;
  justify-content: space-around;
}

#right {
  justify-content: space-between;
  align-items: center;
}

#right p {
  font-size: 3rem;
}
/* Title and Heading */

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* Icons */
.icon {
  cursor: pointer;
  font-size: 4rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

#search {
  width: 25rem;
  height: 5rem;
  border: 0.3rem groove black;
  text-align: left;
  transition: 0.5s;
}

#search:hover {
  border-radius: 5rem;
  transition: 0.5s;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 10rem;
  font-size: 2rem;
}

.listings {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 10rem;
}

.listing {
  display: flex;
  background-image: url("./images/instagram-background.jpg");
  background-size: 100% 100%;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 4rem;
  border: 0.4rem solid black;
  width: 20rem;
  height: 30rem;
  transition: 1s;
  color: white;
  text-align: center;
  gap: 1rem;
  font-size: 1rem
}

.listing img {
  width: 15rem;
  height: 15rem;
}

.listing:hover {
  border-radius: 4rem;
  transition: 1s;
  cursor: pointer;
}
